@model TodoApp.Models.TodoItem
@{
    ViewData["Title"] = "Details";
}


<h2>@ViewData["Title"]</h2>

<div class="jumbotron">
    <h3>Todo Item </h3>

    <p>@Model.Id</p>
    <p> @Model.Description</p>
    <p> @Model.Status</p>
    <p>@Model.CreatedOn</p>
    <p>@Model.UpdatedOn</p>


   </div>


<div class="mt-4">
    <a asp-action="Index">Back to List</a>
</div>